.link{
    display: block;
    text-align: right;
}
.Tit{
    display: block;
    align-content: center;
    width: 20%;
    border: 1px;
    padding: 20%;
    margin: 10%;
    font-family: arial,sans-serif;
}
.letra{
    float: left;
    text-align: center;
}